@model Product

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/default.jpg" class="img-fluid" alt="@Model.ProductName">
        </div>
        <div class="col-md-6">
            <h1 class="display-4">@Model.ProductName</h1>
            <p class="lead">Price: @Model.Price.ToString("c")</p>
            <p>@Model.Description</p>
            <p>Available Quantity: @Model.Quantity</p>

            <a asp-action="Index" class="btn btn-primary">Back to Products</a>
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="Update" asp-route-id="@Model.ProductId" method="get" class="btn btn-warning">Update</a>
            }
        </div>
    </div>
</div>
